#move-button {
  width: 150px;
  height: 30px;
  margin-left: 100px;
}

#display {
  margin-top: 90px;
  font-size: x-large;
  font-family: fantasy;
}

body {
  background-color: lightcoral;
}

.drum-pad {
  background-color: lightblue;
  font-family: fantasy;
}
